body {
    margin: 10% !important;
    margin-top: 2% !important;
}
.moldura-certificados {
	margin: 2% !important;
}
td.alinhar-direita {
    text-align: right;
}
.img-table {
	width: 32px !important;
}
